{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
					</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Books Blog</h1>
		</div>
	</div>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
	
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			<a href="{{url_for('newBook')}}">
				<button class="btn btn-default" id="new-book">
					<span class="glyphicon glyphicon-book" aria-hidden="true"></span>Add Book Blog
				</button>
			</a>
		</div>
		<div class="col-md-1"></div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-5">
			<h2>Blogs</h2>
				{% for book in books %}
					<div class="menu-item">
						<a href = "{{url_for('showMenu', book_id = book.id)}}">
						<h3>{{book.name}}</h3>
						</a>
					</div>
				{% endfor %}		
		</div>
		<div class="col-md-5">
			<h2>Authors</h2>
				{% for item in items %}
					<div class="menu-item">
						<h3>{{item}}</h3>
					</div>
				{% endfor %}		
		</div>
		<div class="col-md-1"></div>
	</div>
{% endblock %}
